﻿@model EquiforestWebApp.Models.Precios

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Precios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacturaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
