﻿@model PaginatedList<EquiforestWebApp.Models.Facturas>

@{
    ViewData["Title"] = "Facturas";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-controller="Facturas" asp-action="Index">Facturas</a>
    <a asp-controller="Contenedores" asp-action="Index">Contenedores</a>
    <a asp-controller="Facturas" asp-action="PackingList" asp-route-origen="2">Packing List</a>
</div>

<h4><span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Comercializacion</span></h4>

<h2>Facturas</h2>

<div class="col-md-6">
    <form asp-controller="Facturas" asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="hidden" name="pageNumber" value="1" />
                <input type="date" class="input-group" name="fecini" value="@ViewData["FecIni"]" />
                <input type="date" class="input-group" name="fecfin" value="@ViewData["FecFin"]" />
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </p>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create" class="btn btn-info">Crear Factura</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                FacturaNo
            </th>
            <th>
                Fecha
            </th>
            <th>
                Cliente
            </th>
            <th>
                Especie
            </th>
            <th>
                Finca
            </th>
            <th>
                Incoterm
            </th>
            <th>
                Destino
            </th>
            <th>
                BillOfLading
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacturaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Incoterm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillOfLading)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Editar</a> |
                    <a asp-controller="Precios" asp-action="Edit" asp-route-id="@item.FacturaId" >Precios</a> |
                    <a asp-action="PackingList" asp-route-facturano="@item.FacturaId" asp-route-origen="1">Packing List</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-fecini="@ViewData["FecIni"]"
       asp-route-fecfin="@ViewData["FecFin"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-fecini="@ViewData["FecIni"]"
       asp-route-fecfin="@ViewData["FecFin"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
