﻿@*@model IEnumerable<EquiforestWebApp.Models.Trozas>*@
@model PaginatedList<EquiforestWebApp.Models.Trozas>

@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h2>Index</h2>
<div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="date" class="input-group" name="fecini" value="@ViewData["FecIni"]" />
                <input type="date" class="input-group" name="fecfin" value="@ViewData["FecFin"]" />
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </p>
        </div>
        >
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nucleo</th>
            <th>Finca</th>
            <th>Rodal</th>
            <th>Fecha</th>
            <th>Ubicacion</th>
            <th>N_Viaje</th>
            <th>Clasificacion</th>
            <th>Circunferencia</th>
            <th>Largo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.Nucleo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.Finca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.Rodal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.N_Viaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Circunferencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Largo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
