﻿@model List<ResumenComercial>
@{
    ViewData["Title"] = "Resumen Comercialización";
}

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-controller="Facturas" asp-action="Index">Facturas</a>
    <a asp-controller="Contenedores" asp-action="Index">Contenedores</a>
    <a asp-controller="Facturas" asp-action="PackingList" asp-route-origen="2">Packing List</a>
</div>

<h4><span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Comercializacion</span></h4>

<h2>Resumen Comercial</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="ResumenComercial" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="date" class="input-group" name="fecini" value="@ViewBag.FecIni" />
                    <input type="date" class="input-group" name="fecfin" value="@ViewBag.FecFin" />
                    <input type="submit" value="Filtrar" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <table>
            <tbody>
                <tr>
                    <td>
                        <form asp-action="ImportFromExcel" asp-route-id="1" method="post" enctype="multipart/form-data">
                            <label class="control-label">Excel File</label>
                            <input type="file" class="" name="theExcel" />
                            <input type="submit" value="Subir Datos" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@*<div class="row">
        <div class="col-md-4"><a asp-area="" asp-controller="Facturas" asp-action="Index" asp-route-id="1">Ver Detalles</a></div>
    </div>*@

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
                <tr class="bg-success">
                    <th>Clasificacion</th>
                    <th>Piezas</th>
                    <th>Volumen Hoppus</th>
                    <th>Volumen Smallian</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Estratos)
                {

                    <tr>
                        <td align="center">@item.Name</td>
                        <td align="center">@string.Format("{0:#,0.00}", Model.Where(f => f.Circunferencia >= item.MinValue && f.Circunferencia < item.MaxValue).Count())</td>
                        <td align="center">@string.Format("{0:#,0.00}", Model.Where(f => f.Circunferencia >= item.MinValue && f.Circunferencia < item.MaxValue).Sum(s => s.VolumenH))</td>
                        <td align="center">@string.Format("{0:#,0.00}", Model.Where(f => f.Circunferencia >= item.MinValue && f.Circunferencia < item.MaxValue).Sum(s => s.VolumenS))</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
