﻿@model List<ResumenCosecha>
@{
    ViewData["Title"] = "Resumen Cosecha";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Calidad', 'Volumen'],
            ['A', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Sum(total => total.Volumen)],
            ['B', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Sum(total => total.Volumen)],
            ['C', @ViewBag.VolTrozasC],
        ]);

        var options = {
            title: 'Volumen',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart_v'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Calidad', 'Trozas'],
            ['A', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Count()],
            ['B', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Count()],
            ['C', @ViewBag.NoTrozasC],
        ]);

        var options = {
            title: 'Cantidad Trozas',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart_q'));
        chart.draw(data, options);
    }
</script>


<h2>Resumen Cosecha</h2>
<div class="row">
    <div class="col-md-4"><a asp-area="" asp-controller="Viajes" asp-action="Index" asp-route-id="1" asp-route-download="false" class="btn btn-info">Ver Detalles</a></div>
    <div class="col-md-8 col-xs-4">
        <form asp-action="ResumenCosecha" method="get">
            <div class="form form-inline">
                <p>
                    <label class="sr-only" for="fecini">Desde</label>
                    <input type="date" class="form-control" name="fecini" value="@ViewBag.FecIni" />
                    <label class="sr-only" for="fecfin">Hasta</label>
                    <input type="date" class="form-control" name="fecfin" value="@ViewBag.FecFin" />
                    <select asp-items="ViewBag.Rodales" name="Rodal" class="form-control">
                        <option selected="selected" value="@ViewBag.RodalSelected">@ViewBag.RodalSelected</option>
                    </select>
                    <input type="submit" value="Filtrar" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr><th>Resumen de Cosecha</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Volument Total > 45 cm</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f).Sum(total => total.Volumen)</td>
                </tr>
                <tr>
                    <td>No de Trozas > 45 cm</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f).Count()</td>
                </tr>
                <tr>
                    <td>Volument Total > 45 cm - Clase A</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Sum(total => total.Volumen)</td>
                </tr>
                <tr>
                    <td>No de Trozas > 45 cm - Clase A</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Count()</td>
                </tr>
                <tr>
                    <td>Volument Total > 45 cm - Clase B</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Sum(total => total.Volumen)</td>
                </tr>
                <tr>
                    <td>No de Trozas > 45 cm - Clase B</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Count()</td>
                </tr>


                <tr>
                    <td>Volument Total < 45 cm - Clase C</td>
                    <td>@ViewBag.VolTrozasC</td>
                </tr>
                <tr>
                    <td>No de Trozas < 45 cm - Clase C</td>
                    <td>@ViewBag.NoTrozasC</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id="donutchart_v" style="width: 540px; height: 300px;"></div>
    <div class="col-md-6" id="donutchart_q" style="width: 540px; height: 300px;"></div>

</div>
@*style="width: 900px; height: 500px;"*@
