﻿@model EquiforestWebApp.Models.Contenedores

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contenedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContenedorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContenedorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cabezal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cabezal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sello)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sello)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chofer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chofer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescuentoCrc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescuentoCrc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescuentoLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescuentoLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxCargoWgt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxCargoWgt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackingListId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackingListId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Factura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Factura.FacturaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
