﻿    @model EquiforestWebApp.Models.Viajes
<form>
        <input type="hidden" asp-for="Id" id="Id" class="form-control" />
        <div class="form-group">
            <label for="Nucleo" class="control-label">Nucleo</label>
            <select asp-for="Nucleo" asp-items="ViewBag.Nucleos" class="form-control" name="Nucleo">
                <option selected="selected" value="@Model.Nucleo">@Model.Nucleo</option>
            </select>
            <span asp-validation-for="Nucleo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Finca" class="control-label">Finca</label>
            <select asp-for="Finca" asp-items="ViewBag.Fincas" class="form-control" name="Finca">
                <option selected="selected" value="@Model.Finca">@Model.Finca</option>
            </select>
            <span asp-validation-for="Finca" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Rodal" class="control-label">Rodal</label>
            <select asp-for="Rodal" asp-items="ViewBag.Rodales" class="form-control" name="Rodal">
                <option selected="selected" value="@Model.Rodal">@Model.Rodal</option>
            </select>
            <span asp-validation-for="Rodal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="FechaIngreso" class="control-label">Fecha de ingreso</label>
            <input asp-for="FechaIngreso" id="FechaIngreso" class="form-control" name="FechaIngreso"/>
            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Ubicacion" class="control-label">Ubicación</label>
            <input asp-for="Ubicacion" id="Ubicacion" class="form-control" name="Ubicacion"/>
            <span asp-validation-for="Ubicacion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="N_Viaje" class="control-label">No de Viaje</label>
            <input asp-for="N_Viaje" id="N_Viaje" class="form-control" name="N_Viaje"/>
            <span asp-validation-for="N_Viaje" class="text-danger"></span>
        </div>
</form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="saveModal">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
