﻿@model EquiforestWebApp.Models.Viajes

@{
    ViewData["Title"] = "Crear Viaje";
}

<h2>Crear Viaje</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nucleo" class="control-label"></label>
                @*<input asp-for="Nucleo" class="form-control" />*@
                <select asp-for="Nucleo" class="form-control" asp-items="ViewBag.Nucleos" name="Nucleo">
                    <option selected="selected" value="">Seleccionar el nucleo</option>
                </select>
                <span asp-validation-for="Nucleo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finca" class="control-label"></label>
                @*<input asp-for="Finca" class="form-control" />*@
                <select asp-for="Finca" class="form-control" asp-items="ViewBag.Fincas" name="Finca">
                    <option selected="selected" value="">Seleccionar la finca</option>
                </select>
                <span asp-validation-for="Finca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodal" class="control-label"></label>
                @*<input asp-for="Rodal" class="form-control" />*@
                <select asp-for="Rodal" class="form-control" asp-items="ViewBag.Rodales" name="Rodal">
                    <option selected="selected" value="s">Seleccionar el rodal</option>
                </select>
                <span asp-validation-for="Rodal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" name="FechaIngreso"/>
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" name="Ubicacion"/>
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="N_Viaje" class="control-label"></label>
                <input asp-for="N_Viaje" class="form-control" />
                <span asp-validation-for="N_Viaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

