﻿@model EquiforestWebApp.Models.Viajes

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Viajes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nucleo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nucleo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.N_Viaje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.N_Viaje)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ViajeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
