﻿@model PaginatedList<EquiforestWebApp.Models.ViajesGroup>

@{
    ViewData["Title"] = "Detalle de cosecha";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    // Handle "Edit Person" button click.
    // This will make an ajax call, get information for person,
    // put it all in the modal and display it
    $(document).on('click', '#btn-trigger-modal', function () {
        var viajeId = $(this).data('id');
        $.ajax({
            url: '/Viajes/OnGetViajesCreate',
            type: 'GET',
            data: { id: viajeId },
            success: function (data) {
                $('#div_content').html(data);
//                $('#nucleo').text(data.nucleo);
                $('#exampleModal').modal('show');
            }
        });
    });

    // Handle submitting of new information for Person.
    // This will attempt to save new info
    // If save was successful, it will close the Modal and reload page to see updated info
    // Otherwise it will only reload contents of the Modal
    $(document).on('click', '#saveModal', function () {
        var self = $(this);
        var actionUrl = '/Viajes/OnPostViajesCreate';
        var dataToSend = self.parents('.modal').find('form').serialize();

        $.post(actionUrl, dataToSend).done(function (data) {
            //console.log(data);
            $('#div_content').html(data);
            var newBody = $('.modal-body', data);
            var valValid = $('#div_content').find('[name="IsValid"]').val();
            var isValid = valValid == 'True';
                //newBody.find('[name="IsValid"]').val() == 'True';

            if (isValid) {
                $('#exampleModal').modal('hide');
                location.reload(false);
            }
        });


        @*$.ajax({
            url: '/Viajes/EditModal/' + $('#Id').val(),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: self.parents('.modal').find('form').serialize(),
            success: function (data) {
                if (data.success == true) {
                    $('#modal-person').modal('hide');
                    location.reload(false)
                } else {
                    $('#modal-person').html(data);
                }
            }
        });*@
    });
</script>


<h3>Detalle de Cosecha</h3>
<div class="row">
    <div class="col-md-6 col-xs-4">
        <form asp-controller="Viajes" asp-action="Index" method="get">
            <div class="form form-inline">
                <p>
                    <input type="hidden" name="pageNumber" value="1" />
                    <input type="date" class="form-control" name="fecini" value="@ViewData["FecIni"]" />
                    <input type="date" class="form-control" name="fecfin" value="@ViewData["FecFin"]" />
                    <select asp-items="ViewBag.Rodales" name="Rodal" class="form-control">
                        <option selected="selected" value="@ViewBag.RodalSelected">@ViewBag.RodalSelected</option>
                    </select>
                    <input type="submit" value="Filtrar" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <form asp-action="ImportFromExcel" asp-route-id="1" method="post" enctype="multipart/form-data">
                            <label class="control-label">Excel File</label>
                            <input type="file" class="" name="theExcel" />
                            <input type="submit" value="Subir Datos" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
@*<p>
        <a href="#" id="btn-trigger-modal">Create New</a>
    </p>*@
<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                Nucleo
            </th>
            <th>
                Finca
            </th>
            <th>
                Rodal
            </th>
            <th>
                Fecha
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                N_Viaje
            </th>
            <th>
                No. Trozas "C"
            </th>
            <th>
                Clasificación
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Circunferencia (Avg)
            </th>
            <th>
                Largo (Avg)
            </th>
            <th>
                Volumen (Sum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nucleo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodal)
            </td>
            <td>
                @item.Fecha.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_Viaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTrozasC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @string.Format("{0:#,0.00}", item.Circunferencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volumen)
            </td>

            @*              <td>
            <a href="#" id="btn-trigger-modal" data-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ViajeId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ViajeId">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>


<div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Viajes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="div_content">
                    <!--<partial name="_ViajesEdit.cshtml" />-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-fecini="@ViewData["FecIni"]"
           asp-route-fecfin="@ViewData["FecFin"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-fecini="@ViewData["FecIni"]"
           asp-route-fecfin="@ViewData["FecFin"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
        <span>Pag. @Model.PageIndex / @Model.TotalPages</span>
        <a asp-area="" asp-controller="Viajes" asp-action="Index" asp-route-id="1" asp-route-fecini="@ViewData["FecIni"]" asp-route-fecfin="@ViewData["FecFin"]" asp-route-download="true" class="btn btn-info">Descargar</a>
    </div>
</div>


